# Gradle / Kotlin
.gradle/
.kotlin/
**/build/
!src/**/build/

# IDE
.idea/
*.iml
.DS_Store

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# iOS
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Node (if any tooling added later)
node_modules/

.vscode/